.contaier {
    border: solid 2px indianred;
    margin: 20px;
    padding: 20px;

    .form-data-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        p {
            width: 33%;
        }
    }

    span {
        font-weight: bold;
        margin-right: 15px;

        &.highlight {
            &:hover {
                background-color: yellowgreen;
            }
        }
    }

    .div-high-ligh {
        span {
            &:hover {
                background-color: yellowgreen;
            }
        }
    }
}
