<div class="contaier">
    <h1>Detalle de un Viaje</h1>
    <div class="form-data-container">
        <p><span>Id</span>{{coche?.id}} </p>
        <p><span>Marca</span>{{coche?.marca}} </p>
        <p><span>Modelo</span>{{coche?.modelo}} </p>
        <p><span>Potencia</span>{{coche?.potencia}} </p>
        <p><span>Precio</span>{{coche?.precio}} </p>
        <p><span>Puertas</span>{{coche?.puertas}} </p>
        <p><span>Tipo de Coche</span>{{coche?.tipoDeCoche}} </p>
        <p><span>Oferta</span>{{coche?.oferta}} </p>
        <p><span>Visible</span>{{coche?.visible}} </p>
        <p><span>Vendido</span>{{coche?.vendido}} </p>
        <p><span>Fecha de Alta</span>{{coche?.fecha}} </p>
    </div>
</div>