<div class="container">
    <h1>Edicion de un Coche</h1>
    <form [formGroup]="cocheForm" (ngSubmit)="grabar()">

        <div class="row">
            <div class="field-element" [ngClass]="{'error': cocheForm.controls.marca.invalid && submitted }" >
                <label>Marca <span>*</span></label>
                <input type="text" formControlName="marca">
                <div class="error" *ngIf="cocheForm.controls.marca.hasError('marcaNoValida')">No vendemos {{cocheForm.controls.marca.value}}</div>
            </div>
            <div class="field-element" [ngClass]="{'error': cocheForm.controls.modelo.invalid && submitted }">
                <label>Modelo <span>*</span></label>
                <input type="text" formControlName="modelo">
                <div class="error" *ngIf="cocheForm.controls.modelo.hasError('minlength')">El modelo require de al menos 5 caracteres</div>
            </div>
            <div class="field-element">
                <label>Numero de Puertas</label>
                <input type="number" formControlName="puertas">
            </div>
            <div class="field-element">
                <label>Tipo de Coche</label>
                <input type="text" formControlName="tipoDeCoche">
            </div>
            <div class="field-element">
                <label>Potencia</label>
                <input type="number" formControlName="potencia">
            </div>
            <div class="field-element">
                <label>En oferta</label>
                <select formControlName="oferta">
                    <option value=""></option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="field-element">
                <label>Es Visible</label>
                <select formControlName="visible">
                    <option value=""></option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="field-element">
                <label [appCocheEstado]="cocheForm.controls.vendido.value">Esta Vendido</label>
                <select formControlName="vendido">
                    <option value=""></option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="field-element">
                <label>Fecha de Alta</label>
                <!-- <input type="date" formControlName="fecha" value="{{cocheForm.controls.fecha.value | date: 'yyyy-MM-dd'}}"   > -->
                <input type="date" formControlName="fecha" >
            </div>
            <div class="field-element" [ngClass]="{'error': cocheForm.controls.modelo.invalid && submitted }">
                <label>Precio <span>*</span></label>
                <input type="number" formControlName="precio">
                <div class="error" *ngIf="cocheForm.controls.precio.hasError('min')">El precio tiene que ser mayor que 10000 €</div>
            </div>
            <div class="field-element">
                <label>Color</label>
                <input type="color" formControlName="color">
            </div>
        </div>
        <!-- <div class="error" *ngIf="cocheForm.invalid && cocheForm.touched">
            El formulario esta incompleto o tiene errores
        </div> -->
        <div>
            <button class="btn" type="submit">Grabar</button>
            <button class="btn" type="button" (click)="limpiar()">Limpiar</button>
        </div>
    </form>
</div>