<div class="container">
    <h1>Edicion de un Coche</h1>
    <form [formGroup]="cocheForm" (ngSubmit)="grabar()">

        <div class="row">
            <div class="field-element">
                <label>Marca</label>
                <input type="text" formControlName="marca">
            </div>
            <div class="field-element">
                <label>Modelo</label>
                <input type="text" formControlName="modelo">
            </div>
            <div class="field-element">
                <label>Numero de Puertas</label>
                <input type="number" formControlName="puertas">
            </div>
            <div class="field-element">
                <label>Tipo de Coche</label>
                <input type="text" formControlName="tipoDeCoche">
            </div>
            <div class="field-element">
                <label>Potencia</label>
                <input type="number" formControlName="potencia">
            </div>
        </div>
        <button class="btn" type="submit">Grabar</button>
    </form>
</div>