<table>
    <thead>
        <th>Id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Potencia</th>
        <th>Precio</th>
        <th>Fecha de Alta</th>
        <th></th>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of coches">
            <tr (click)="cocheSeleccionado.emit(item)" [ngClass]="{vendido: item.vendido}">
                <td>{{item.id}}</td>
                <td>{{item.marca | uppercase}}</td>
                <td [appHighlight]="item.color" [color]="'purple'" [size]="'40px'"  >{{item.modelo | uppercase}}</td>
                <td>{{item.potencia | potencia}}</td>
                <td>{{item.precio | currency }}</td>
                <td>{{item.fecha | date : 'longDate' | uppercase | slice :0:4}}</td>
                <td [appCocheEstado]="item.vendido" (clicked)="seleccionClick(item)">                                
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>