.container {
    border: 2px solid indigo;
    margin: 20px;
    padding: 20px;

    .buttons {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row-reverse;
        button {
            padding: 10px;
            color: crimson;
            border: 1px solid crimson;
            margin-right: 20px;
            background-color: white;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    table {
        border: 1px solid gray;
        border-collapse: collapse;
        width: 100%;
        thead {
            border-bottom: 1px solid gray;
        }
        th {
            text-align: left;
            padding-left: 30px;
            padding: 20px;
            text-transform: uppercase;
            font-weight: bold;
            color: darkblue;
        }
        tr {
            &:hover {
                background-color: beige;
                cursor: pointer;
            }
        }
        td {
            padding-left: 30px;
            padding: 20px;
        }
    }
}

.vendido {
    border: 1px solid red;
}
