<div class="container">
    <h1>Listado de coches</h1>
    <div class="buttons">
        <button *ngIf="verTabla" (click)="mostrarTarjetas()">Mostrar tarjetas</button>
        <button *ngIf="!verTabla" (click)="mostrarTabla()">Mostrar tabla</button>
    </div>
    <app-coches-table *ngIf="verTabla" [coches]="coches" (cocheSeleccionado)="cocheSeleccionado.emit($event)"></app-coches-table>
    <app-coches-card-list *ngIf="!verTabla" [coches]="coches"  (cocheSeleccionado)="mostrarCocheClick($event)"></app-coches-card-list>
</div>