<div class="container">
    <h1>Listado de coches</h1>
    <div class="buttons">
        <button (click)="mostrarTarjetas()">Mostrar Datos en Formato Tarjeta</button>
        <button (click)="mostrarTabla()">Mostrar Datos en Formato Tabla</button>
    </div>
    <table *ngIf="verTabla;else tarjetas">
        <thead>
            <th>Id</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Potencia</th>
            <th>Precio</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of coches" (click)="mostarCocheClick($event, item)">
                <td>{{item.id}}</td>
                <td>{{item.marca}}</td>
                <td>{{item.modelo}}</td>
                <td>{{item.potencia}}</td>
                <td>{{item.precio}}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #tarjetas>
        <div class="card" *ngFor="let item of coches" (click)="mostarCocheClick($event, item)">
            <p class="card-item"><span class="label">Marca</span> <span class="value">{{item.marca}}</span></p>
            <p class="card-item"><span class="label">Modelo</span> <span class="value">{{item.modelo}}</span></p>
            <p class="card-item"><span class="label">Potencia</span> <span class="value">{{item.potencia}}</span></p>
            <p class="card-item"><span class="label">Precio</span> <span class="value">{{item.precio}}</span></p>
        </div>
    </ng-template>
</div>